<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="img/gift-logo-5.jpg" class="d-inline-block align-bottom mr-2" alt=""> {[moduleTitle]}
  </a>

  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="navbar-collapse collapse" id="navbarsExample01" style="">
        <ul class="navbar-nav ml-auto d-block text-right">
          <li class="nav-item">
            <a class="dropdown-item p-2" href="events.html">Events</a>
          </li>
          <li class="nav-item">
            <a class="dropdown-item p-2" href="recipients.html">Recipients</a>
          </li>
          <li class="nav-item">
            <a class="dropdown-item p-2" href="registrants.html">Registrants</a>
          </li>
          <li class="nav-item">
            <a class="dropdown-item p-2" href="reports.html">Reports</a>
          </li>
        </ul>
      </div>
</nav>