<script src="js/vue/0-vue.min.js"></script>
<script src="js/vue/1-vuetify.js"></script>
<script src="js/vue/2-Chart.min.js"></script>
<script src="js/vue/3-vue-chartjs.min.js"></script>
<script src="js/bundle.js"></script>
