@import '1-variables';

body {
    font-family: $font-body;
}

p {
    font-family: $font-body;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-headers;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    &:hover {
        text-decoration: none;
    }
}

.section-wrapper {
    padding: 30px 20px;
}

.v-icon--link {
    &:hover {
        color: #1976d2;
    }
}

.bkg-white {
    background-color: #fff !important;
}

.bkg-light-grey {
    background-color: #f6f6f6 !important;
}

.font-small {
    font-size: 10px;
}

.float-right {
    float: right;
}

.hover-pointer {
    &:hover {
        cursor: pointer;
    }
}

.opacity-25 {
    opacity: 0.25;
}

@media (max-width: 767px){
    
    .v-input {
        width: 100%;
    }

}