.select-wrapper {
    min-width: 100px;

    select {
        padding-right: 24px;
        background-image: url(../img/select-arrow.svg);
        background-position: right;

        &.std-select {
            height: 32px;
        }

    }

}