.goToTile {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  margin-bottom: 20px; }
  @media (max-width: 767px) {
    .goToTile {
      margin-right: 15px; } }
  @media (max-width: 567px) {
    .goToTile {
      margin-right: 5px; } }
  .goToTile a {
    display: flex;
    width: 100%;
    height: 100%;
    min-width: 200px;
    min-height: 150px;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    border-radius: 15px; }
    @media (max-width: 767px) {
      .goToTile a {
        min-width: 180px; } }
    @media (max-width: 567px) {
      .goToTile a {
        min-width: 155px; } }
    .goToTile a.events {
      background-color: #337ab7;
      border-color: #337ab7;
      color: #fff; }
      .goToTile a.events:hover {
        background-color: rgba(51, 122, 183, 0.75); }
    .goToTile a.registrants {
      background-color: #5cb85c;
      border-color: #5cb85c;
      color: #fff; }
      .goToTile a.registrants:hover {
        background-color: rgba(92, 184, 92, 0.75); }
    .goToTile a.recipients {
      background-color: #845cb8;
      border-color: #845cb8;
      color: #fff; }
      .goToTile a.recipients:hover {
        background-color: rgba(132, 92, 184, 0.75); }
    .goToTile a.reports {
      background-color: #ffc107;
      border-color: #ffc107;
      color: #fff; }
      .goToTile a.reports:hover {
        background-color: rgba(255, 193, 7, 0.75); }
    .goToTile a:hover {
      text-decoration: none; }
