nav .navbar-brand img {
  width: 25px; }

nav a:hover {
  background-color: #fff; }

.navbar-nav {
  flex-direction: row; }

.nav-link {
  padding-right: .5rem !important;
  padding-left: .5rem !important; }

/* Fixes dropdown menus placed on the right side */
.ml-auto .dropdown-menu {
  left: auto !important;
  right: 0px; }
