.goToTile {

    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 20px;

    @media (max-width: 767px){
        margin-right: 15px;
    }

    @media (max-width: 567px){
        margin-right: 5px
    }

    a {
        display: flex;
        width: 100%;
        height: 100%;
        min-width: 200px;
        min-height: 150px;
        justify-content: center;
        align-items: center;
        background-color: #f8f9fa;
        border-radius: 15px;

        @media (max-width: 767px){ 
            min-width: 180px;
        }

        @media (max-width: 567px){ 
            min-width: 155px;
        }

        &.events {
            background-color: rgba(51, 122, 183, 1);
            border-color: #337ab7;
            color: #fff;

            &:hover{
                background-color: rgba(51, 122, 183, .75);
            }
        }

        &.registrants {
            background-color: rgba(92, 184, 92, 1);
            border-color: #5cb85c;
            color: #fff;

            &:hover{
                background-color: rgba(92, 184, 92, .75);
            }
        }

        &.recipients {
            background-color: rgba(132, 92, 184, 1);
            border-color:#845cb8;
            color: #fff;

            &:hover{
                background-color: rgba(132, 92, 184, .75);
            }

        }

        &.reports {
            background-color: rgba(255, 193, 7, 1);
            border-color:#ffc107;
            color: #fff;

            &:hover{
                background-color: rgba(255, 193, 7, .75);
            }

        }

        &:hover{
            text-decoration: none;
        }

    }


}