{{#> layouts/base module="eventsModule" title="Events Management Page" }}

    {{#*inline "meta-block"}}
        {{> includes/meta }}
    {{/inline}}

    {{#*inline "nav-block"}}
        {{> includes/nav
            navTitle = "Events Management"
    }}
    {{/inline}}


    {{#*inline "content-block"}}

        <div class="events-mgt-wrapper section-wrapper">

            <div class="container-fluid">

                <div class="row align-items-center">
                    <div class="col-12 col-md-6 col-lg-3 ">
                        <v-select class="d-inline-flex m-0 mr-2 select-event-select" attach=".select-event-select" label="Event Group" v-validate="'required'" :items="eventGroups" v-model="selectedEventGroup" item-text="Name" item-value="Id" @change="eventGroupSelectChange()" :nudge-top="-50"></v-select>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <v-btn class="d-inline-flex m-0 mr-2 std-btn" @click="addEventGroup" color="info" depressed ><v-icon class="mr-1">add_circle</v-icon>Event Group</v-btn>
                        <v-btn class="d-inline-flex m-0 std-btn" @click="addEvent" color="info" depressed ><v-icon class="mr-1">add_circle</v-icon>Event</v-btn>
                    </div>
                    <div class="col-12 col-md-12 col-lg-5">
                         <v-text-field v-model="searchTerm" append-icon="search" label="Search Events" single-line hide-details></v-text-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col mt-1">

                        <v-app id="">

                            <v-data-table class="elevation-1" :headers="eventsTableHeaders" :items="eventsTableData" :loading="tableLoading" :search="searchTerm">
                                <template slot="items" slot-scope="props">
                                    <td>{[props.item.Name]}</td>
                                    <td class="justify-center layout px-0">
                                        <v-icon small class="mr-3 opacity-25" @click="editItem(props.item)">
                                            edit
                                        </v-icon>
                                        <v-icon small class="opacity-25" @click="deleteItem(props.item)">
                                            delete
                                        </v-icon>
                                    </td>
                                </template>
                                <template slot="no-data">
                                    <div class="p-2">
                                        <v-alert type="warning" outline :value="true" transition="fade-transition">
                                            There are no Events for the selected Group. Add an Event.
                                        </v-alert>
                                    </div>
                                </template>
                                <template slot="no-results">
                                    <div class="p-2">
                                        <v-alert type="warning" outline :value="true"  transition="fade-transition">
                                            Your search for "{[searchTerm]}" found no results.
                                        </v-alert>
                                    </div>
                                </template>
                            </v-data-table>

                            <!-- Event Add/Edit Form Modal -->
                            <v-dialog v-model="editAddModal" class="v-modal edit-add" fullscreen hide-overlay transition="dialog-bottom-transition">
                                <v-card>
                                    <v-card-title>
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col">
                                                    {[formTitle]}
                                                </div>
                                            </div>
                                        </div>
                                    </v-card-title>
                                    <v-card-text>

                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col">
                                                    <v-form ref="AddEditEventform" v-model="formEventValid" class="add-edit-form">
                                                        <div class="container-fluid">
                                                            <div class="row">
                                                                <div class="col-12 col-md-8">
                                                                    <v-text-field v-model="editedEventData.Name" label="Event name" :rules="nameRules" required></v-text-field>
                                                                </div>
                                                                <div class="col-12 col-md-4">
                                                                    <v-select class="add-event-select" attach=".add-event-select" label="Event Group" :items="eventGroups" v-model="selectedEventGroupForm" item-text="Name" item-value="Id" :rules="[v => !!v || 'Item is required']" required></v-select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </v-form>
                                                    <v-alert type="error" outline :value="addEventFormFailAlert"  transition="fade-transition">
                                                        Adding an event failed: {[addEventFormError]}
                                                    </v-alert>
                                                    <v-alert type="success" outline :value="addEventFormSuccessAlert"  transition="fade-transition">
                                                        Event added Successfully
                                                    </v-alert>
                                                </div>
                                            </div>
                                        </div>

                                    </v-card-text>
                                    <v-card-actions>
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col justify-content-end text-right">
                                                    <v-btn class="d-inline-flex" @click="saveEvent" color="info" :loading="formProcessing" :disabled="!formEventValid">Save</v-btn>
                                                    <v-btn class="d-inline-flex" @click="cancelEdit" color="info" outline >Cancel</v-btn>
                                                </div>
                                            </div>
                                        </div>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                            <!-- /End Event Add/Edit Form Modal -->


                            <!-- Group Event Add/Edit Form Modal -->
                            <v-dialog v-model="addEventGroupModal" class="v-modal add-group" fullscreen hide-overlay transition="dialog-bottom-transition">
                                
                                    <v-card>
                                        <v-card-title>
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col">
                                                        Add an Event Group:
                                                    </div>
                                                </div>
                                            </div>
                                        </v-card-title>
                                        <v-card-text>

                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col">
                                                        <v-form ref="AddEventGroupform" v-model="formGroupValid">
                                                            <v-text-field v-model="addEventGroupData.Name" label="Group name" :rules="nameRules" required></v-text-field>
                                                        </v-form>
                                                        <v-alert type="error" outline :value="addEventGroupFormFailAlert"  transition="fade-transition">
                                                            Adding an event group failed: {[addEventGroupFormError]}
                                                        </v-alert>
                                                        <v-alert type="success" outline :value="addEventGroupFormSuccessAlert"  transition="fade-transition">
                                                            Event group added Successfully
                                                        </v-alert>
                                                    </div>
                                                </div>
                                            </div>

                                        </v-card-text>
                                        <v-card-actions>
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col justify-content-end text-right">
                                                        <v-btn class="d-inline-flex" @click="saveEventGroup" color="info" :loading="formProcessing" :disabled="!formGroupValid">Add</v-btn>
                                                        <v-btn class="d-inline-flex" @click="cancelAddEventGroup" color="info" outline >Cancel</v-btn>
                                                    </div>
                                                </div>
                                            </div>
                                        </v-card-actions>
                                    </v-card>
                                
                            </v-dialog>  
                            <!-- Group Event Add/Edit Form Modal -->

                        </v-app>
                    
                    </div>
                </div>

            </div>


        </div>

    {{/inline}}


{{/layouts/base}}