{{#> layouts/base module="homePageModule" title="Home Page" }}

  {{#*inline "meta-block"}}
    {{> includes/meta }}
  {{/inline}}

  {{#*inline "nav-block"}}
    {{> includes/nav
        navTitle = "Kurnia Application"
    }}
  {{/inline}}


  {{#*inline "content-block"}}
    
    <div class="home-wrapper section-wrapper">

        <v-app class="bkg-white">
            <div class="container-fluid">
                <div class="row">
                    <div class="col d-flex align-items-start justify-content-center mt-5">
                        <div class="text-center">
                            <div class="goToTile flex-shrink-1">
                                <a href="events.html" class="events">
                                    <div>
                                        <v-icon class="d-flex" large dark>pages</v-icon>
                                        <h3>Events</h3>
                                    </div>
                                </a>
                            </div>

                            <div class="goToTile">
                                <a href="recipients.html" class="recipients">
                                    <div>
                                        <v-icon class="d-flex" large dark>assignment_ind</v-icon>
                                        <h3>Recipients</h3>
                                    </div>
                                </a>
                            </div>

                            <div class="goToTile">
                                <a href="registrants.html" class="registrants">
                                    <div>
                                        <v-icon class="d-flex" large dark>how_to_reg</v-icon>
                                        <h3>Registrants</h3>
                                    </div>
                                </a>
                            </div>

                            <div class="goToTile">
                                <a href="reports.html" class="reports">
                                    <div>
                                        <v-icon class="d-flex" large dark>show_chart</v-icon>
                                        <h3>Reports</h3>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </v-app>
        

    </div>

  {{/inline}}

{{/layouts/base}}