{{#> layouts/base module="passModule" title="Pass" }}

  {{#*inline "meta-block"}}
    {{> includes/meta }}
  {{/inline}}


  {{#*inline "content-block"}}
    
    <div class="home-wrapper section-wrapper">

        <v-app>
            <div class="container-fluid">
                <div class="row">
                    <div class="col">


                        <div class="row">
                            <div class="col text-center">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                Full Name: {[passDetails.FullName]}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                               Date of Birth: {[passDetails.DateOfBirth]}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                               IC No: {[passDetails.IdentificationCardNumber]}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                Birth Cert No: {[passDetails.BirthCertificateNumber]}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                               Phone No: {[passDetails.PhoneNumber]}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                               Gender: {[passDetails.Gender]}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <img :src="'https://chart.googleapis.com/chart?cht=qr&chs=200x200&chl=http://poc.www.kurnia.labworksdigital.com/registrants.html?regId=' + registrantId"/>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </v-app>

    </div>

  {{/inline}}

{{/layouts/base}}