{{#> layouts/base module="recipientsModule" title="Recipients Management Page" }}

    {{#*inline "meta-block"}}
        {{> includes/meta }}
    {{/inline}}

    {{#*inline "nav-block"}}
        {{> includes/nav
            navTitle = "Recipients Management"
    }}
    {{/inline}}


    {{#*inline "content-block"}}

    <v-app>
        <div class="recipients-mgt-wrapper section-wrapper">
            <div class="container-fluid">

                
                <div class="row align-items-end">
                    <div class="col-6 col-md-12 col-lg-5">
                        <div class="d-inline-flex">List of All Recipients Below:</div>
                    </div>
                    <div class="col-6 col-md-3 col-lg-3 text-lg-right">
                        <v-btn class="d-inline-flex m-0 mr-2 std-btn" @click="addRecipient" color="info" depressed ><v-icon class="mr-1">add_circle</v-icon>Recipient</v-btn>
                    </div>
                    <div class="col-12 col-md-9 col-lg-4">
                        <v-text-field v-model="searchTerm" append-icon="search" label="Search Recipients" single-line hide-details></v-text-field>
                    </div>
                </div>


                <div class="row">
                    <div class="col mt-2">

                        <v-data-table v-if="currentWindowWidth > screenBreakpoints.tab" class="elevation-1" :headers="recipientsTableHeaders" :items="recipientsTableData" :loading="tableLoading" :search="searchTerm">
                            <template slot="items" slot-scope="props">
                                <td>{[props.item.FullName]}</td>
                                <td>{[props.item.IdentificationCardNumber]}</td>
                                <td>{[props.item.BirthCertificateNumber]}</td>
                                <td>{[props.item.DateOfBirth]}</td>
                                <td>{[props.item.Gender]}</td>
                                <td>{[props.item.PhoneNumber]}</td>
                                <td class="justify-center layout px-0">
                                    <v-icon small class="mr-3" @click="editRecipiant(props.item)">
                                        edit
                                    </v-icon>
                                    <v-icon small @click="deleteRecipient(props.item)">
                                        delete
                                    </v-icon>
                                </td>
                            </template>
                            <template slot="no-data">
                                <div class="p-2">
                                    <v-alert type="warning" outline :value="true" transition="fade-transition">
                                        There are no Recipients.
                                    </v-alert>
                                </div>
                            </template>
                            <template slot="no-results">
                                <div class="p-2">
                                    <v-alert type="warning" outline :value="true"  transition="fade-transition">
                                        Your search for "{[searchTerm]}" found no results.
                                    </v-alert>
                                </div>
                            </template>
                        </v-data-table>

                        <v-data-table v-else class="elevation-1" :headers="recipientsTableHeadersMobile" :items="recipientsTableData"  item-key="Id" :loading="tableLoading" :search="searchTerm">
                            <template slot="items" slot-scope="props">
                                <tr @click="props.expanded = !props.expanded" class="hover-pointer">
                                    <td>{[props.item.FullName]} <v-icon class="float-right">keyboard_arrow_right</v-icon></td>
                                </tr>
                            </template>
                            <template slot="expand" slot-scope="props">
                                <div class="container-fluid m-0 p-0 bkg-light-grey">
                                    <div class="row no-gutters pt-2 mb-1">
                                        <div class="col-1"></div>
                                        <div class="col-5">IC: {[props.item.IdentificationCardNumber]}</div>
                                        <div class="col-5">Birth Cert: {[props.item.BirthCertificateNumber]}</div>
                                        <div class="col-1"></div>
                                    </div>
                                    <div class="row no-gutters mb-2">
                                        <div class="col-1"></div>
                                        <div class="col-5">Date of Birth: {[props.item.DateOfBirth]}</div>
                                        <div class="col-5">Gender: {[props.item.Gender]}</div>
                                        <div class="col-1"></div>
                                    </div>
                                    <div class="row no-gutters pb-2">
                                        <div class="col-1"></div>
                                        <div class="col-5">Phone No: {[props.item.PhoneNumber]}</div>
                                        <div class="col-5 text-right">
                                            
                                            <v-icon small class="mr-3" @click="editRecipiant(props.item)">
                                                edit
                                            </v-icon>
                                            <v-icon small @click="deleteRecipient(props.item)">
                                                delete
                                            </v-icon>
                                        </div>
                                        <div class="col-1"></div>
                                    </div>
                               </div>
                            </template>
                            <template slot="no-data">
                                <div class="p-2">
                                    <v-alert type="warning" outline :value="true" transition="fade-transition">
                                        There are no Recipients.
                                    </v-alert>
                                </div>
                            </template>
                            <template slot="no-results">
                                <div class="p-2">
                                    <v-alert type="warning" outline :value="true"  transition="fade-transition">
                                        Your search for "{[searchTerm]}" found no results.
                                    </v-alert>
                                </div>
                            </template>
                        </v-data-table>

                    </div>
                </div>


                <div class="row">
                    <div class="col">

                        <!-- Add/Edit Recipient Modal -->
                        <v-dialog v-model="editAddRecipientModal" class="v-modal edit-add" fullscreen hide-overlay transition="dialog-bottom-transition">
                            <v-card>
                                <v-card-title>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col">
                                                {[formTitle]}
                                            </div>
                                        </div>
                                    </div>
                                </v-card-title>
                                <v-card-text>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col">
                                                <v-form ref="AddEditRecipientform" v-model="formRecipientValid" class="add-edit-form">
                                                    <div class="container-fluid">
                                                        <div class="row mb-2">
                                                            <div class="col-12">
                                                                <v-text-field v-model="recipientData.FullName" label="Recipient name" :rules="nameRules" prepend-icon="person" required></v-text-field>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-2">
                                                            <div class="col-12 col-md-6">
                                                                <v-text-field v-model="recipientData.IdentificationCardNumber" label="IC No." counter="3" :rules="IcRules" prepend-icon="picture_in_picture" required></v-text-field>
                                                            </div>
                                                            <div class="col-12 col-md-6">
                                                                <v-text-field v-model="recipientData.BirthCertificateNumber" label="Birth Cert No." counter="3" :rules="BcertRules" prepend-icon="picture_in_picture" required></v-text-field>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-2">
                                                            <div class="col-12 col-md-6 dob-wrapper">
                                                               <template>
                                                                    <v-menu
                                                                        ref="menu"
                                                                        :close-on-content-click="false"
                                                                        v-model="menuDob"
                                                                        :nudge-right="40"
                                                                        :nudge-top="-50"
                                                                        lazy
                                                                        transition="scale-transition"
                                                                        full-width
                                                                        min-width="290px"
                                                                        attach="dob-wrapper"
                                                                    >
                                                                        <v-text-field
                                                                        slot="activator"
                                                                        v-model="recipientData.DateOfBirth"
                                                                        label="Birthday date"
                                                                        prepend-icon="event"
                                                                        readonly
                                                                        ></v-text-field>
                                                                        <v-date-picker
                                                                        ref="picker"
                                                                        v-model="recipientData.DateOfBirth"
                                                                        :max="computedYongestDob"
                                                                        :min="computedOldestDob"
                                                                        no-title
                                                                        ></v-date-picker>
                                                                    </v-menu>
                                                                </template>
                                                            </div>
                                                            <div class="col-12 col-md-6">
                                                                <v-radio-group v-model="recipientData.Gender" prepend-icon="supervisor_account" row>
                                                                    <v-radio label="Male" value="M"></v-radio>
                                                                    <v-radio label="Female" value="F"></v-radio>
                                                                </v-radio-group>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12 col-md-6">
                                                                <v-text-field v-model="recipientData.PhoneNumber" label="Phone No." counter="3" :rules="PhoneRules" prepend-icon="call" required></v-text-field>
                                                            </div>
                                                            <div class="col-12 col-md-6">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </v-form>
                                                <v-alert type="error" outline :value="addRecipientFormFailAlert"  transition="fade-transition">
                                                    Adding Recipient failed: {[addRecipientFormError]}
                                                </v-alert>
                                                <v-alert type="success" outline :value="addRecipientFormSuccessAlert"  transition="fade-transition">
                                                    Recipient added Successfully
                                                </v-alert>
                                            </div>
                                        </div>
                                    </div>
                                </v-card-text>
                                <v-card-actions>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col justify-content-end text-right">
                                                <v-btn class="d-inline-flex" @click="formEditFlag? saveEditedRecipient() : saveRecipient()" color="info" :loading="formProcessing" :disabled="!formRecipientValid">Save</v-btn>
                                                <v-btn class="d-inline-flex" @click="cancelEdit" color="info" outline >Cancel</v-btn>
                                            </div>
                                        </div>
                                    </div>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                        <!-- /End Add/Edit Recipient Modal -->



                        <!-- Delete Recipient Modal -->
                        <v-dialog v-model="deleteRecipientModal" class="v-modal" fullscreen hide-overlay transition="dialog-bottom-transition">
                            <v-card>
                                <v-card-title>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col">
                                            </div>
                                        </div>
                                    </div>
                                </v-card-title>
                                <v-card-text>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col">
                                                 <v-alert type="error" outline :value="true"  transition="fade-transition">
                                                    Confirm deleting Recipient: <b>{[recipientToDeleteData.FullName]}</b> ?
                                                </v-alert>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <v-form ref="DeleteRecipientform" v-model="formDeleteRecipientValid" class="add-edit-form">
                                                    
                                                </v-form>
                                                <v-alert type="error" outline :value="DeleteRecipientFormFailAlert"  transition="fade-transition">
                                                    Deleting Recipient failed: {[deleteRecipientFormError]}
                                                </v-alert>
                                                <v-alert type="success" outline :value="DeleteRecipientFormSuccessAlert"  transition="fade-transition">
                                                    Recipient Deleted Successfully!
                                                </v-alert>
                                            </div>
                                        </div>
                                    </div>
                                </v-card-text>
                                <v-card-actions>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col justify-content-center text-center">
                                                <v-btn class="d-inline-flex" @click="saveDeleteRecipient" color="error" :loading="formProcessing" :disabled="!formDeleteRecipientValid"><v-icon class="mr-1">delete</v-icon>Delete</v-btn>
                                                <v-btn class="d-inline-flex" @click="cancelDelete" color="info" outline >Cancel</v-btn>
                                            </div>
                                        </div>
                                    </div>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                        <!-- /End Delete Recipient Modal -->


                    </div>
                </div>


            </div>
        </div>
    </v-app>


    {{/inline}}


{{/layouts/base}}