{{#> layouts/base module="registrantsModule" title="Registrants Management Page" }}

    {{#*inline "meta-block"}}
        {{> includes/meta }}
    {{/inline}}

    {{#*inline "nav-block"}}
        {{> includes/nav
            navTitle = "Registrants Management"
    }}
    {{/inline}}


    {{#*inline "content-block"}}

    <v-app>
        <div class="registrants-mgt-wrapper section-wrapper">
            <div class="container-fluid">

                <div class="row no-gutters align-items-center">
                    <div class="col-12 col-md-6 col-lg-2">
                        <v-select class="d-inline-flex m-0 mr-2 select-event-group-select" attach=".select-event-group-select" label="Event Group" v-validate="'required'" :items="eventGroups" v-model="selectedEventGroup" item-text="Name" item-value="Id" @change="eventGroupSelectChange()" :menu-props="{nudgeTop:-50}"></v-select>
                    </div>
                    <div class="col-12 col-md-6 col-lg-2">
                        <v-select class="d-inline-flex m-0 mr-2 select-event-select" attach=".select-event-select" label="Event" v-validate="'required'" :items="events" v-model="selectedEvent" item-text="Name" item-value="Id" @change="eventSelectChange()" :menu-props="{nudgeTop:-50}"></v-select>
                    </div>
                    <div class="col-12 col-md-3 col-lg-2 text-lg-center">
                        <v-btn v-if="eventsInGroup" class="d-inline-flex m-0 std-btn" @click="getAllRecipients()" color="info" depressed ><v-icon class="mr-1">add_circle</v-icon>Registrants</v-btn>
                    </div>
                    <div class="col-12 col-md-3 col-lg-2 mt-sm-2 mt-md-0">
                        <v-btn v-if="registrantsSelected" class="d-inline-flex m-0 std-btn" @click="saveRemovedRegistrant()" color="error" depressed ><v-icon class="mr-1">remove_circle</v-icon>Remove Selected</v-btn>
                    </div>
                    <div class="col-12 col-md-12 col-lg-12 col-xl-4 mb-2 mb-md-0">
                         <v-text-field v-model="searchTermRegistrants" append-icon="search" label="Search Registrants" single-line hide-details></v-text-field>
                    </div>
                </div>



                <div v-if="statsAvailable" class="row mt-2">
                    <div class="col">
                        <h6 class="d-md-inline">Total Registrants: {[registrantsStats.TotalRegistrants]}</h6><span class="d-none d-md-inline px-2">|</span>
                        <h6 class="d-md-inline">Total Passes Printed: {[registrantsStats.TotalPassesPrinted]}</h6><span class="d-none d-md-inline px-2">|</span>
                        <h6 class="d-md-inline">Total Gifts Received: {[registrantsStats.TotalGiftsReceived]}</h6>
                    </div>
                </div>


                <div class="row">
                    <div class="col mt-2">

                        <v-data-table v-if="currentWindowWidth > screenBreakpoints.tab" v-model="selectedRegistrants" class="elevation-1" :headers="registrantsTableHeaders" :items="registrantsTableData" item-key="Id" :loading="tableLoading" :search="searchTermRegistrants" select-all>
                            
                            <template   slot="items" slot-scope="props">
                                <tr @click="props.expanded = !props.expanded">
                                    <td>
                                        <v-checkbox v-model="props.selected" primary hide-details></v-checkbox>
                                    </td>
                                    <td>{[props.item.FullName]}</td>
                                    <td>{[props.item.IdentificationCardNumber]}</td>
                                    <td>{[props.item.BirthCertificateNumber]}</td>
                                    <td>{[props.item.DateOfBirth]}</td>
                                    <td>{[props.item.Gender]}</td>
                                    <td>{[props.item.PhoneNumber]}</td>
                                    <td class="justify-content-center align-items-center text-center">
                                        <v-btn Flat small color="error"  @click="removeRegistrant(props.item)">
                                            <v-icon small class="mr-2">
                                                remove_circle
                                            </v-icon>
                                            Remove
                                        </v-btn>
                                        <v-btn v-if="props.item.Pass==null" Flat small color="info"  @click="createRegistrantPass(props.item)">
                                            <v-icon small class="mr-2">
                                                class
                                            </v-icon>
                                            Pass
                                        </v-btn>
                                        <v-btn v-else-if="props.item.Pass.PrintedDate==null" Flat small color="warning" @click="printPass(props.item)">
                                            <v-icon small class="mr-2">
                                                print_disabled
                                            </v-icon>
                                            Pass
                                        </v-btn>
                                        <v-btn v-else Flat small color="success" @click="showPass(props.item)">
                                            <v-icon small class="mr-2">
                                                print
                                            </v-icon>
                                            Pass
                                        </v-btn>
                                        <v-btn v-if="!props.item.Gift.IsRecieved" Flat small color="info" @click="setGiftReceived(props.item)">
                                            <v-icon small class="mr-2">
                                                card_giftcard
                                            </v-icon>
                                        </v-btn>

                                        <div class="d-inline" v-else>
                                            <v-icon small class="mr-2" color="success">
                                                card_giftcard
                                            </v-icon>
                                        <span class="font-small">{[props.item.Gift.DateReceived]}</span> / 
                                        <span class="font-small">{[props.item.Gift.DateReceivedTime]}</span>
                                        </div>
                                    

                                    </td>
                                </tr>
                            </template>
                            
                            <template slot="no-data">
                                <div class="p-2">
                                    <v-alert type="warning" outline :value="true" transition="fade-transition">
                                        <div v-if="eventsInGroup">
                                            <v-btn class="d-inline-flex m-0 std-btn" @click="getAllRecipients()" color="info" depressed ><v-icon class="mr-1">add_circle</v-icon>Registrants</v-btn>
                                        </div>
                                        <div v-else>
                                            There are no events for the selected Event group.
                                        </div>
                                    </v-alert>
                                </div>
                            </template>
                            <template slot="no-results">
                                <div class="p-2">
                                    <v-alert type="warning" outline :value="true"  transition="fade-transition">
                                        Your search for "{[searchTermRegistrants]}" found no results.
                                    </v-alert>
                                </div>
                            </template>
                        </v-data-table>

                        <v-data-table v-else v-model="selectedRegistrants" class="elevation-1" :headers="registrantsTableHeadersMobile" :items="registrantsTableData" item-key="Id" :loading="tableLoading" :search="searchTermRegistrants" select-all>

                            <template slot="items" slot-scope="props">
                                <tr @click="props.expanded = !props.expanded" class="hover-pointer">
                                    <td width="10%">
                                        <v-checkbox v-model="props.selected" primary hide-details></v-checkbox>
                                    </td>
                                    <td valign="middle">{[props.item.FullName]} <v-icon class="float-right">keyboard_arrow_right</v-icon></td>
                                </tr>
                            </template>
                            <template slot="expand" slot-scope="props">
                                <div class="container-fluid m-0 p-0 bkg-light-grey">
                                    <div class="row  no-gutters pt-2 mb-1">
                                        <div class="col-1"></div>
                                        <div class="col-5">IC: {[props.item.IdentificationCardNumber]}</div>
                                        <div class="col-5">Birth Cert: {[props.item.BirthCertificateNumber]}</div>
                                        <div class="col-1"></div>
                                    </div>
                                    <div class="row  no-gutters mb-2">
                                        <div class="col-1"></div>
                                        <div class="col-5">Date of Birth: {[props.item.DateOfBirth]}</div>
                                        <div class="col-5">Gender: {[props.item.Gender]}</div>
                                        <div class="col-1"></div>
                                    </div>
                                     <div class="row  no-gutters mb-2">
                                         <div class="col-1"></div>
                                         <div class="col-5">Phone No: {[props.item.PhoneNumber]}</div>
                                         <div class="col-5"></div>
                                         <div class="col-1"></div>
                                     </div>
                                    <div class="row  no-gutters text-center align-items-center">
                                        <div class="col-4">
                                            <v-btn Flat small color="error"  @click="removeRegistrant(props.item)">
                                                <v-icon small class="mr-2">
                                                    remove_circle
                                                </v-icon>
                                                Remove
                                            </v-btn>
                                        </div>
                                        <div class="col-4">
                                            <v-btn v-if="props.item.Pass==null" Flat small color="info"  @click="createRegistrantPass(props.item)">
                                            <v-icon small class="mr-2">
                                                class
                                            </v-icon>
                                            Pass
                                            </v-btn>
                                            <v-btn v-else-if="props.item.Pass.PrintedDate==null" Flat small color="warning" @click="printPass(props.item)">
                                                <v-icon small class="mr-2">
                                                    print_disabled
                                                </v-icon>
                                                Pass
                                            </v-btn>
                                            <v-btn v-else Flat small color="success" @click="showPass(props.item)">
                                                <v-icon small class="mr-2">
                                                    print
                                                </v-icon>
                                                Pass
                                            </v-btn>
                                        </div>
                                        <div class="col-4">
                                            <v-btn v-if="!props.item.Gift.IsRecieved" Flat small color="info" @click="setGiftReceived(props.item)">
                                                <v-icon small class="mr-2">
                                                    card_giftcard
                                                </v-icon>
                                            </v-btn>

                                            <div class="d-inline" v-else>
                                                <v-icon small class="mr-2" color="success">
                                                    card_giftcard
                                                </v-icon>
                                                <span class="font-small">{[props.item.Gift.DateReceived]}</span> / 
                                                <span class="font-small">{[props.item.Gift.DateReceivedTime]}</span>
                                            </div>
                                        </div>
                                    </div>
                               </div>
                            </template>
                            
                            <template slot="no-data">
                                <div class="p-2">
                                    <v-alert type="warning" outline :value="true" transition="fade-transition">
                                        <div v-if="eventsInGroup">
                                            <v-btn class="d-inline-flex m-0 std-btn" @click="getAllRecipients()" color="info" depressed ><v-icon class="mr-1">add_circle</v-icon>Registrants</v-btn>
                                        </div>
                                        <div v-else>
                                            There are no events for the selected Event group.
                                        </div>
                                    </v-alert>
                                </div>
                            </template>
                            <template slot="no-results">
                                <div class="p-2">
                                    <v-alert type="warning" outline :value="true"  transition="fade-transition">
                                        Your search for "{[searchTermRegistrants]}" found no results.
                                    </v-alert>
                                </div>
                            </template>
                        </v-data-table>

                    </div>
                </div>



                <div class="row">
                    <div class="col">
                        <!-- Add Registrants to Event Modal -->
                        <v-dialog v-model="addRegistrantsToEventModal" class="v-modal" fullscreen hide-overlay transition="dialog-bottom-transition">
                            <v-card>
                                <v-card-title>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col">
                                               
                                            </div>
                                        </div>
                                    </div>
                                </v-card-title>
                                <v-card-text>
                                    <div class="container-fluid">
                                        <div class="row mb-2  align-items-end">
                                            <div class="col"> Add Registrants to the event.</div>
                                            <div class="col">
                                                <v-text-field v-model="searchTermRecipiants" append-icon="search" label="Search Recipients" single-line hide-details></v-text-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <v-data-table v-model="selectedRecipients" class="elevation-1" :headers="recipientsTableHeaders" :items="recipientsTableData" item-key="Id" :loading="tableLoading" :search="searchTermRecipiants" select-all>
                                                    <template slot="items" slot-scope="props">
                                                        <td>
                                                            <v-checkbox
                                                            v-model="props.selected"
                                                            primary
                                                            hide-details
                                                            ></v-checkbox>
                                                        </td>
                                                        <td>{[props.item.FullName]}</td>
                                                        <td>{[props.item.IdentificationCardNumber]}</td>
                                                        <td>{[props.item.BirthCertificateNumber]}</td>
                                                        <td>{[props.item.DateOfBirth]}</td>
                                                        <td>{[props.item.Gender]}</td>
                                                        <td>{[props.item.PhoneNumber]}</td>
                                                    </template>
                                                    <template slot="no-data">
                                                        <div class="p-2">
                                                            <v-alert type="warning" outline :value="true" transition="fade-transition">
                                                                here are no Recipients.
                                                            </v-alert>
                                                        </div>
                                                    </template>
                                                    <template slot="no-results">
                                                        <div class="p-2">
                                                            <v-alert type="warning" outline :value="true"  transition="fade-transition">
                                                                Your search for "{[searchTermRecipiants]}" found no results.
                                                            </v-alert>
                                                        </div>
                                                    </template>
                                                </v-data-table>
                                            </div>
                                        </div>
                                    </div>
                                </v-card-text>
                                <v-card-actions>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col justify-content-end text-right">
                                                <v-btn class="d-inline-flex" @click="saveAddedRecipientsToEvent" color="info" :loading="formProcessing" :disabled="RecipientNotSelected">Save</v-btn>
                                                <v-btn class="d-inline-flex" @click="cancelAddRegistrant" color="info" outline >Cancel</v-btn>
                                            </div>
                                        </div>
                                    </div>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                        <!-- /End Add Registrants to Event Modal -->
                    </div>
                </div>


                <div class="row">
                    <div class="col">

                        <!-- Remove Registrant Modal -->
                        <v-dialog v-model="removeRegistranttModal" class="v-modal" fullscreen hide-overlay transition="dialog-bottom-transition">
                            <v-card>
                                <v-card-title>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col">
                                            </div>
                                        </div>
                                    </div>
                                </v-card-title>
                                <v-card-text>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col">
                                                 <v-alert type="error" outline :value="true"  transition="fade-transition">
                                                    Confirm Removing Registrant: <b>{[registrantToDeleteData.FullName]}</b>  from the Event?
                                                </v-alert>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <v-alert type="error" outline :value="deleteRegistrantFormFailAlert"  transition="fade-transition">
                                                    Removing Registrant failed: {[deleteRegistrantFormError]}
                                                </v-alert>
                                                <v-alert type="success" outline :value="deleteRegistrantFormSuccessAlert"  transition="fade-transition">
                                                    Registrant removed Successfully!
                                                </v-alert>
                                            </div>
                                        </div>
                                    </div>
                                </v-card-text>
                                <v-card-actions>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col justify-content-center text-center">
                                                <v-btn class="d-inline-flex" @click="saveRemovedRegistrant" color="error" :loading="formProcessing"><v-icon class="mr-1">delete</v-icon>Delete</v-btn>
                                                <v-btn class="d-inline-flex" @click="cancelRemove" color="info" outline >Cancel</v-btn>
                                            </div>
                                        </div>
                                    </div>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                        <!-- /End Remove Registrant Modal -->

                    </div>
                </div>

                <div class="row">
                    <div class="col">

                        <v-dialog
                            v-model="addPassModal"
                            hide-overlay
                            persistent
                            width="300"
                            >
                            <v-card
                                color="primary"
                                dark
                            >
                                <v-card-text>
                                Generating Pass
                                <v-progress-linear
                                    indeterminate
                                    color="white"
                                    class="mb-0"
                                ></v-progress-linear>
                                </v-card-text>
                            </v-card>
                        </v-dialog>

                    </div>
                </div>


                <div class="row">
                    <div class="col justify-content-center">
                        <v-dialog v-model="passDetailsModal" max-width="290">
                            <v-card>
                                <v-card-title class="headline text-center">Pass details</v-card-title>
                                <v-card-text>
                                    Pass for: {[pass.FullName]}
                                    <br>
                                    Print Date: {[pass.details.PrintedDate]}
                                    <br>
                                    <v-checkbox
                                        v-model="isPassPrinted"
                                        label="Pass Printed ?"
                                        @change="setPassPrinted()"
                                    ></v-checkbox>
                                </v-card-text>
                                <v-card-actions>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col d-flex justify-content-center text-center">
                                                <v-btn class="d-inline-flex m-0 std-btn" @click="goToPassPage(pass)" color="info" :loading="formProcessing" depressed ><v-icon class="mr-1">print</v-icon>Pass</v-btn>
                                            </div>
                                        </div>
                                    </div>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </div>
                </div>


                <div class="row">
                    <div class="col">

                        <v-dialog
                            v-model="processingGiftModal"
                            hide-overlay
                            persistent
                            width="300"
                            >
                            <v-card
                                color="primary"
                                dark
                            >
                                <v-card-text>
                                Processing
                                <v-progress-linear
                                    indeterminate
                                    color="white"
                                    class="mb-0"
                                ></v-progress-linear>
                                </v-card-text>
                            </v-card>
                        </v-dialog>

                    </div>
                </div>


                <div class="row">
                    <div class="col">

                        <v-dialog v-if="queryParamRegId" v-model="qrGiftModal" max-width="290">
                            <v-card>
                                <v-card-title class="headline">Registrant Details</v-card-title>
                                <v-card-text>
                                    
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-6 text-right">
                                                Full Name: 
                                            </div>
                                            <div class="col-6">
                                                {[registrantFromQueryUrlData.Recipient.FullName]}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 text-right">
                                                IC No.: 
                                            </div>
                                            <div class="col-6">
                                                {[registrantFromQueryUrlData.Recipient.IdentificationCardNumber]}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 text-right">
                                                Birth Cert No.: 
                                            </div>
                                            <div class="col-6">
                                                {[registrantFromQueryUrlData.Recipient.BirthCertificateNumber]}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 text-right">
                                                Date of Birth: 
                                            </div>
                                            <div class="col-6">
                                                {[registrantFromQueryUrlData.Recipient.DateOfBirth]}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 text-right">
                                                Gender: 
                                            </div>
                                            <div class="col-6">
                                                {[registrantFromQueryUrlData.Recipient.Gender]}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 text-right">
                                                Phone No.:
                                            </div>
                                            <div class="col-6">
                                                {[registrantFromQueryUrlData.Recipient.PhoneNumber]}
                                            </div>
                                        </div>
                                    </div>
                                    
                                </v-card-text>
                                <v-card-actions>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col d-flex justify-content-center text-center">
                                                <v-btn v-if="registrantFromQueryUrlGiftRecived" class="d-inline-flex m-0 std-btn" @click="" color="" depressed ><v-icon class="mr-1">check</v-icon><v-icon class="mr-1">card_giftcard</v-icon>Received</v-btn>
                                                <v-btn v-else class="d-inline-flex m-0 std-btn" @click="setGiftReceived(registrantFromQueryUrlData.Registrant)" color="info" depressed ><v-icon class="mr-1">card_giftcard</v-icon>Receive</v-btn>                                            </div>
                                        </div>
                                    </div>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>

                    </div>
                </div>

            </div>
        </div>
    </v-app>

    {{/inline}}


{{/layouts/base}}