{{#> layouts/base module="reportsModule" title="Reports Page" }}

  {{#*inline "meta-block"}}
    {{> includes/meta }}
  {{/inline}}

  {{#*inline "nav-block"}}
    {{> includes/nav
        navTitle = "Reports"
    }}
  {{/inline}}


  {{#*inline "content-block"}}
    
    <div class="home-wrapper section-wrapper">

        <v-app class="bkg-white">
            <div class="container-fluid">

                
                <div class="row align-items-center">
                    <div class="col-6 col-md-4 col-xl-2">
                        <v-select class="d-inline-flex m-0 mr-2 select-event-group-select" attach=".select-event-group-select" label="Event Group" v-validate="'required'" :items="eventGroups" v-model="selectedEventGroup" item-text="Name" item-value="Id" @change="eventGroupSelectChange()" :menu-props="{nudgeTop:-50}"></v-select>
                    </div>
                    <div class="col-6 col-md-4 col-xl-2">
                        <v-select class="d-inline-flex m-0 mr-2 select-event-select" attach=".select-event-select" label="Event" v-validate="'required'" :items="events" v-model="selectedEvent" item-text="Name" item-value="Id" @change="eventSelectChange()" :menu-props="{nudgeTop:-50}"></v-select>
                    </div>
                    <div class="col-12 col-md-6 col-xl-4">
                        
                    </div>
                    <div class="col-12 col-md-6 col-xl-4">
                         
                    </div>
                </div>


                <div class="row mt-2">
                    <div class="col">
                        <h2 v-if="selectedEvent!=''">Total Number of registrans: {[totalRegistrants]}</h2>
                        <h2 v-else>There are no Events for the Selected Group.</h2>
                    </div>
                </div>


                
                <div v-if="loaded" class="reports-wrapper container-fluid mt-3">
                    <div class="row">
                        
                        <div class="col-12 col-md-6 col-xl-3 text-center mb-5 mb-md-0 px-xs-5 px-md-0">

                            <doughnut-chart :chart-data="regPassChartData" :chart-label="['Passes Printed', 'Not Printed']"></doughnut-chart>

                            <h4>Passes printed: {[reportsData.TotalPassesPrinted]} / {[reportsData.TotalRegistrants]}</h4>

                        </div>

                        <div class="col-12 col-md-6 col-xl-3 text-center px-xs-5 px-md-0">

                            <doughnut-chart :chart-data="regGiftChartData" :chart-label="['Gifts Received', 'Unreceiced']"></doughnut-chart>

                            <h4>Gifts Received: {[reportsData.TotalGiftsReceived]} / {[reportsData.TotalRegistrants]}</h4>

                        </div>
                        <div class="col-6 col-md-3"></div>
                        <div class="col-6 col-md-3"></div>

                    </div>
                </div>

            </div>
        </v-app>
        

    </div>

  {{/inline}}

{{/layouts/base}}