<!doctype html>
<html>
  <head>
      
    <title>
      {{#if title}}
        {{title}}
      {{else}}
        Base Page Title
      {{/if}}
    </title>

    {{#> meta-block}}
        {{!-- Custom <meta> tags per page --}}
    {{/meta-block}}

    {{#> stylesheets-block }}
        {{> includes/stylesheets }}
    {{/stylesheets-block}}

    
    {{#> head-block}}
        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
    {{/head-block}}

  
  </head>
  <body>

    <!-- Vue Module Wrapper -->
    <div id="{{module}}" v-cloak>

        <!-- Header Nav and Navigation Menu -->
        {{#> nav-block}}
        {{> includes/nav
            navTitle = "My Navi title"
        }}
        {{/nav-block}}
        <!-- /END Header Nav and Navigation Menu -->


        <!-- Content Section -->
        <main>
            <div class="contianer">
                <div class="row">
                    <div class="col">
                        {{#> content-block}}
                        {{/content-block}}
                    </div>
                </div>
            </div>
        </main>
        <!-- /END Content Section -->

        
        <!-- Footer Section -->
        {{#> footer-block}}
            {{> includes/footer }}
        {{/footer-block}}


        <!-- Scripts -->
        {{#> scripts-block}}
            {{> includes/scripts}}
        {{/scripts-block}}
        <!-- /END Scripts -->

    </div>
    <!-- /End Vue Module Wrapper -->

  </body>
  

  
</html>