.select-wrapper {
  min-width: 100px; }
  .select-wrapper select {
    padding-right: 24px;
    background-image: url(../img/select-arrow.svg);
    background-position: right; }
    .select-wrapper select.std-select {
      height: 32px; }
